p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "Roboto", serif;
}

body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto;
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #1C539F;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding: 10px 0;
}

.nav-bar-centered {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-menu a:hover {
    color: #caebff;
}

body.about header div div a.about,
body.portfolio header div div a.portfolio,
body.resume header div div a.resume,
body.contact header div div a.contact {
    color: black;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}

@media screen and (max-width: 800px) {
    .nav-bar-centered {
        padding: 0;
        margin: 0 auto;
        display: block;
    }
    .nav-menu {
        width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
        padding-top: 10px;
    }
    .nav-menu a {
        padding: 5px 0;
    }
}

.profile {
    background-color: #1d539f !important;
    text-align: center;
    height: 320px;
    margin-bottom: 50px;
}

.profile h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.profile img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
}

.profile .profile-picture {
    margin-bottom: 30px;
    height: 200px;
}

.hoverbutton {
    -webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width: 180px;
    max-height: 60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}


/* for About Page */

.about-page {
    background-color: #56bfc9;
}

.about-page img {
    width: 100%;
    height: 100%;
    background-color: #d9d9d9;
    border-radius: 50px;
}

.about-page table {
    /* padding-left: 5%;
    padding-top: 2rem;
    padding-bottom: 1rem; */
    padding: 5px 100px;
}

.about-page h1 {
    font-size: 55px;
    color: #f5f5f9;
}

.about-me {
    font-size: 35px;
    background-color: #f5f5f9;
    padding-left: 15%;
}

.about-para {
    text-align: center;
    padding: 10px 150px;
}

.projects-section{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.project{
    width: 100%;
    height: 400px;
    display: flex;
    flex-flow: row;
}

.project:nth-of-type(odd){
    flex-direction: row;
}

.project:nth-of-type(even){
    flex-direction: row-reverse;
}

.project-img{
    width: 40%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-desc{
    box-sizing: border-box;
    width: 60%;
    padding: 20px;
}

.project-desc p {
    text-align: justify;
}

.project-desc a{
    box-sizing: border-box;
    display: block;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    font-size: 18px;
    width: 70px;
    height: 30px;
    text-decoration: none;
    color: white;
    background-color: #1C539F;
}