{% extends "layout.html" %} {% block page %}

<body>
    {% endblock %} {% block content %}
    <div class="about">
        <table cellpadding="15">
            <tr>
                <th>
                    <img src="https://img.icons8.com/carbon-copy/100/000000/test-account.png" />
                </th>
                <th>
                    <h1>MLH Fellow: Name</h1>
                </th>
            </tr>
        </table>
    </div>

    <h2 class="about-me">About Me</h2>
    {% endblock %}
</body>