{% extends "layout.html" %}
{% block page %}<body class="contact">{% endblock %}
{% block content %}
    <div class="contact-page">
        <div class="contact-image">
            <img src="./static/img/logo.jpg">
        </div>
        <div>
            <h1>{{ title }}</h1>
            <p>Want to get in touch? Send me a message at <a href="mailto:not_a_real@email.com">not_a_real@email.com</a>!</p>
            <p>Or, find me on social media: </p>
            <p>Github: <a href="https://github.com/orgs/MLH-Fellowship/teams/pod-3-3-6-team-4">@MLH-Fellowship/pod-3-3-6-team-4</a></p>
            <p>LinkedIn: <a href="https://www.linkedin.com/school/mlh-fellowship/"">MLH Fellowship</a></p>
            <p>Twitter: <a href="https://twitter.com/MLHacks">@MLHacks</a></p>
            <p>(add social media as necessary)</p>
        </div>
    </div>
{% endblock %}