{% extends "layout.html" %}
{% block page %}<body class="contact">{% endblock %}
{% block content %}
    <div class="contact-page">
        <div class="contact-image">
            <img src="./static/img/logo.jpg">
        </div>
        <div class="contact-form">
            <h1>{{ title }}</h1>
            <p>Want to get in touch? Send me a message: </p>
            <form id="contact-form" action="{{ url }}/send-email" method="POST"> 
                <label for="name">Name:</label><br>
                <input type="text" id="name" name="name" required><br>
                <label for="email">Email:</label><br>
                <input type="text" id="email" name="email" required><br>
                <label for="subject">Subject:</label><br>
                <input type="text" id="subject" name="subject" required><br>
                <label for="message">Message:</label><br>
                <textarea rows="4" cols="40" name="message" form="contact-form" required></textarea>
                <br>
                <input type="submit" value="Submit">
              </form> 

            <p>Or, find me on social media: </p>
            <p><i class="fab fa-github"></i> Github: <a href="https://github.com/orgs/MLH-Fellowship/teams/pod-3-3-6-team-4">@MLH-Fellowship/pod-3-3-6-team-4</a></p>
            <p><i class="fab fa-linkedin" style="color: #0073b2;"></i> LinkedIn: <a href="https://www.linkedin.com/school/mlh-fellowship/"">MLH Fellowship</a></p>
            <p><i class="fab fa-twitter-square" style="color: #1ca0f0;"></i> Twitter: <a href="https://twitter.com/MLHacks">@MLHacks</a></p>
            <p>(add social media as necessary)</p>
        </div>
    </div>
{% endblock %}