{% extends "layout.html" %}
{% block page %}

<body class="login">{% endblock %}

    {% block content %}
    <h1>{{ title }}</h1>
    <div class="form">
        {% if response %}
        <p class="contact-response">{{ response }}</p>
        {% endif %}
        <form id="login-form" action="{{ url_for('login') }}" method="POST">
            <label>Username</label><br>
            <input type="text" id="username" name="username" required><br>
            <label>Password</label><br>
            <input type="password" id="password" name="password" required><br>
            <input type="submit" value="Log in">
        </form>
    </div>

    {% endblock %}