{% extends "layout.html" %}
{% block page %}

<body class="portfolio">{% endblock %}
    {% block content %}
    <div class="project-page">
        <h1>{{ title }}</h1>
        <img src="{{ image }}">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Eget nunc lobortis mattis aliquam faucibus purus in. Dignissim diam quis enim
            lobortis scelerisque fermentum dui faucibus. Phasellus vestibulum lorem sed risus ultricies tristique.
            Suspendisse sed nisi lacus sed viverra tellus in hac. Egestas egestas fringilla phasellus faucibus
            scelerisque eleifend. Id donec ultrices tincidunt arcu non sodales neque sodales ut. Elit ut aliquam
            purus sit amet luctus venenatis lectus. Natoque penatibus et magnis dis parturient montes nascetur. Amet
            dictum sit amet justo donec enim diam vulputate ut. Ultrices mi tempus imperdiet nulla malesuada
            pellentesque elit. At volutpat diam ut venenatis tellus in metus vulputate eu. Pharetra pharetra massa
            massa ultricies mi quis hendrerit dolor. Porttitor lacus luctus accumsan tortor posuere ac ut. Id
            aliquet risus feugiat in ante metus dictum. Rhoncus dolor purus non enim praesent. Pulvinar sapien et
            ligula ullamcorper malesuada. Felis donec et odio pellentesque diam volutpat commodo sed.
            <br><br>
            Consequat ac felis donec et odio pellentesque diam. Ut ornare lectus sit amet est placerat in egestas
            erat. Parturient montes nascetur ridiculus mus. Diam vulputate ut pharetra sit amet. Elementum integer
            enim neque volutpat ac tincidunt vitae semper. Egestas erat imperdiet sed euismod. Dictum fusce ut
            placerat orci nulla pellentesque dignissim. Ultrices vitae auctor eu augue. Porta lorem mollis aliquam
            ut porttitor leo a diam sollicitudin. Bibendum enim facilisis gravida neque convallis a. Ullamcorper
            dignissim cras tincidunt lobortis. Dignissim diam quis enim lobortis scelerisque fermentum dui faucibus
            in.
            <br><br>
            Dui ut ornare lectus sit amet est placerat in. Ac tortor dignissim convallis aenean et. Neque laoreet
            suspendisse interdum consectetur libero id faucibus. Amet nisl suscipit adipiscing bibendum est
            ultricies. In massa tempor nec feugiat nisl pretium fusce. Viverra vitae congue eu consequat ac felis
            donec. Dignissim cras tincidunt lobortis feugiat vivamus at augue eget. Orci phasellus egestas tellus
            rutrum tellus pellentesque. Tristique nulla aliquet enim tortor at auctor urna. Volutpat blandit aliquam
            etiam erat velit scelerisque in. Nulla facilisi etiam dignissim diam quis. Arcu dui vivamus arcu felis
            bibendum ut tristique et egestas. Interdum velit laoreet id donec ultrices tincidunt. Eu mi bibendum
            neque egestas. Tellus orci ac auctor augue mauris augue neque gravida in. Sit amet mattis vulputate enim
            nulla aliquet.
        </p>
        <a href="#" class="demo-button">Demo</a>
    </div>
    {% endblock %}