{% extends "layout.html" %}
{% block page %}

<body class="register">{% endblock %}
    {% block content %}
    <h1>{{ title }}</h1>
    <div class="form">
        {% if response %}
        <p class="contact-response">{{ response }}</p>
        {% endif %}
        <form id="login-form" action="{{ url_for('register') }}" method="POST">
            <label>Username</label><br>
            <input type="text" id="username" name="username" required><br>
            <label>Password</label><br>
            <input type="password" id="password" name="password" required><br>
            <p>Password must be at least 6 characters in length.</p>
            <label>Reenter password</label><br>
            <input type="password" id="password2" name="password2" required><br>
            <input type="submit" value="Sign up">
        </form>
    </div>

    {% endblock %}